<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Employee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .required::after {
            content: "(*)";
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/css/vaccineType.css">
</head>
<body>
<div class="row">
    <div th:replace="fragments/commons/header :: header"></div>
</div>
<div class="row second-row">
    <div class="col-3">
        <div th:replace="fragments/commons/left :: left"></div>
    </div>
    <div class="col-9">
        <div class="container mt-5">
            <h1 class="text-center mb-4">CREATE EMPLOYEE</h1>

            <form th:action="@{/employees/create}" th:object="${employeeRequest}" method="post"
                  enctype="multipart/form-data">
                <div class="row">
                    <!-- Employee Name -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="employeeName" class="form-label required">Employee Name</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-lines-fill"></i></span>
                                <input required type="text" class="form-control" id="employeeName" th:field="*{name}">
                            </div>

                        </div>
                    </div>
                    <!-- Gender -->
                    <div class="col-md-4">
                        <label class="form-label">Gender:</label>
                        <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-gender-ambiguous"></i>
                    </span>
                            <div class="form-check d-flex align-items-center ms-2">
                                <input type="radio" class="form-check-input" id="male" th:field="*{gender}"
                                       th:checked="true"
                                       value="MALE">
                                <label class="form-check-label ms-1" for="male">Male</label>
                            </div>
                            <div class="form-check d-flex align-items-center ms-3">
                                <input type="radio" class="form-check-input" id="female" th:field="*{gender}"
                                       value="FEMALE"
                                >
                                <label class="form-check-label ms-1" for="female">Female</label>
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Date of Birth -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="dateOfBirth" class="form-label required">Date of Birth:</label>
                            <div class="input-group">
                                <span class="input-group-text"> <i class="bi bi-calendar-date-fill"></i></span>
                                <input type="date" required class="form-control" id="dateOfBirth"
                                       th:field="*{dateOfBirth}">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                                 th:errors="*{dateOfBirth}"></div>
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="phone" class="form-label required">Phone:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                                <input type="text" required class="form-control" id="phone" th:field="*{phone}">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

                        </div>
                    </div>
                    <!-- Address -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="address" class="form-label required">Address:</label>
                            <div class="input-group">
                                <span class="input-group-text"> <i class="bi bi-geo-alt-fill"></i></span>
                                <input type="text" required class="form-control" id="address" th:field="*{address}">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('address')}"
                                 th:errors="*{address}"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Email -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="email" class="form-label required">Email:</label>

                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                <input type="email" required class="form-control" id="email" th:field="*{email}">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>
                    <!-- Working Place -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="workingPlace" class="form-label">Working Place:</label>
                            <div class="input-group">
                                <span class="input-group-text"> <i class="bi bi-envelope"></i></span>
                                <input type="text" class="form-control" id="workingPlace" th:field="*{workPlace}">
                            </div>
                        </div>
                    </div>
                    <!-- Position -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="position" class="form-label">Position:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-signpost-fill"></i></span>
                                <input type="text" class="form-control" id="position" th:field="*{position}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Username -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="username" class="form-label required">UserName:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                                <input type="text" required class="form-control" id="username" th:field="*{username}">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                                 th:errors="*{username}"></div>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="password" class="form-label required">Password:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-pass"></i></span>
                                <input type="password" required class="form-control" id="password"
                                       th:field="*{password}">
                            </div>

                        </div>
                    </div>
                    <!-- Confirm Password -->
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label required">Confirm Password:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-pass"></i></span>
                                <input type="password" required class="form-control" id="confirmPassword">
                            </div>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                                 th:errors="*{password}"></div>
                        </div>
                    </div>
                </div>

                <!-- Image Upload -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-file-earmark-image"></i></span>
                                <input type="file" class="form-control" id="image" name="image" accept="image/*"
                                       onchange="previewImage(event)">
                            </div>
                        </div>
                    </div>
                    <!-- Image Preview (Initially hidden) -->
                    <div class="col-md-4" id="imagePreviewContainer" style="display: none;">
                        <img id="imagePreview" alt="Image" class="img-thumbnail" style="max-width: 200px;" src="">
                    </div>
                </div>

                <!-- Submit, Reset, and Cancel Buttons -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Save</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a href="/employees" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>

        <!-- Script to preview the image when a file is selected -->
        <script>
            function previewImage(event) {
                const imagePreview = document.getElementById('imagePreview');
                const imagePreviewContainer = document.getElementById('imagePreviewContainer');
                const file = event.target.files[0];

                // Check if a file is selected and its size is less than or equal to 10MB (10485760 bytes)
                if (file) {
                    if (file.size > 10485760) { // 10MB in bytes
                        alert("File size exceeds 10MB. Please select a smaller file.");
                        event.target.value = ""; // Clear the file input
                        imagePreviewContainer.style.display = 'none'; // Hide image preview container
                        return;
                    }

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                    imagePreviewContainer.style.display = 'block'; // Show image preview container
                } else {
                    imagePreview.src = '';
                    imagePreviewContainer.style.display = 'none'; // Hide image preview container
                }
            }

            // Script to validate password and confirm password
            const submitBtn = document.getElementById('submitBtn');
            submitBtn.addEventListener('click', function (event) {
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;
                if (password !== confirmPassword) {
                    event.preventDefault(); // Prevent form submission
                    alert('Passwords do not match. Please try again.');
                }
            });
        </script>
    </div>
</div>
</body>
</html>
